<nav class="navbar navbar-light bg-light" style="margin-bottom: 100px">
    <div class=heading>
      <h5>Node Js Demo</h5>
     </div>
   </nav>
   
   <style>
       .heading{
           padding-top: 6px;
       }
   </style>