<title><%=title%></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
<%- include('header') -%>
<body>
<center>
    <h1>Welcome</h1>
    <a href="/login">
        <!-- login -->
        <button class="btn btn-outline-primary">
            login
        </button>
    </a>
    <a href="/signup">
        <button class="btn btn-outline-primary">
            signup</button>
    </a>
</center>
</body>

