<title><%=title%></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<%- include('header') -%>

<div class = "text-center center-div" id="login">
    <div class="container w-25 border py-5">
      <div class="title pb-5">
        <h2 class="font-weight-bold">Sign Up</h2>
        <span>Create a new account</span>
      </div>

      <form method="post" action="/signup">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="example@gmail.com" name="username" id="username" required>
            <small class="form-text text-muted text-left">register email</small>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="" name="password" required>
          <small class="form-text text-muted text-left">enter password</small>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="" name="confirmpassword" required>
            <small class="form-text text-muted text-left">confirm password</small>
          </div>
  
        <button type="submit" class="btn btn-dark rounded-pi">Create user</button>  

        <div class = "loginoption">
            <a href = "/login">
              go back to login
            </a>
          </div>
      </form>


    </div>
  </div>


  <style>
    .loginoption{
      padding-top: 15px;
    }
  </style>